h1{
  display: inline-block;
  text-align: center;
  width: 450px;
  height: 110px;
  box-shadow: 7px 7px 0 black;
  padding: 10px 12px;
  color: rgb(133, 214, 214);
  font-family: "Noto Sans", Arial, sans-serif;
  font-size: 40px;
  margin-left: 85px;
  margin-top: 100px;
  background-color:rgb(48, 33, 48); 
  text-shadow: 3px 3px 0 black;
  
}